<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Récapitulatif du mois de MONTH de capsuleTemporelle</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<FONT face="verdana">
    <h1>Bonjour,</h1>
    <p>Voici le recap du mois de MONTH :
    <ul>
        <li>Date de dernière exécution : LAST_EXEC_DATE</li>
        <li>Nombre de capsules au total : TOTAL_SAVED_CAPS</li>
        <li>Nombre de capsules actuellement enterrées : CURRENT_SAVED_CAPS</li>
        <li>Liste des capsules sauvegardées :
            <ol>
                LIST_OF_CAPS
            </ol>
        </li>
    </ul>
    <a href="https://github.com/LucasLuigi/capsuleTemporelle">Capsule Temporelle</a> par LucasLuigi, aussi sur <a href="https://twitch.tv/LucasLuigi">Twitch</a>.
    </p>
</FONT>