<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Une capsule temporelle a emmergé</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<FONT face="verdana">
    <h1>Bonjour SUBST_NAME,</h1>
    <p>Une capsule temporelle que vous avez enfouie <b>il y a SUBST_BURYING_PERIOD_COMPLETE</b> a emmergé. Vous vous souvenez ce que vous vouliez enterrer pour le futur le SUBST_BURYING_DATE ? A vous de le découvrir !
        <br />Retrouvez la capsule en pièce jointe.
        <br />Bonne journée,
        <br />
        <a href="https://github.com/LucasLuigi/capsuleTemporelle">Capsule Temporelle</a> par LucasLuigi, aussi sur <a href="https://twitch.tv/LucasLuigi">Twitch</a>.
    </p>
</FONT>